<html>
    <head>
        <title>Dashboard</title>
        <style>
            ul{
                padding: 0;
                width: 100%;
            }

            div label input {
                margin-right:100px;
            }

            body {
                font-family:sans-serif;
                background-color: rgb(24, 24, 24);
                margin: 0;
            }

            #ck-button {
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
                margin:4px;
                background-color:#EFEFEF;
                border-radius:4px;
                border:1px solid #D0D0D0;
                overflow:auto;
                float:inherit;
            }

            #ck-button label {
                float:inherit;
                width:4.0em;
            }

            #ck-button label span {
                text-align:center;
                padding:3px 0px;
                display:block;
            }

            #ck-button label input {
                top:-20px;
            }

            #ck-button input:checked + span {
                background-color:#f9bd69;
                color:#fff;
            }

            img{
                padding-bottom: 15px;
                height: 350px;
                width: auto;
            }

            .sidebar {
                height: 100%;
                width: 250px;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidebar a:hover {
                color: #f1f1f1;
            }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            .openbtn {
                font-size: 20px;
                cursor: pointer;
                background-color: #111;
                color: white;
                padding: 10px 15px;
                border: none;
            }

            .openbtn:hover {
                background-color: #444;
            }


            p{
                margin: 0;
                margin-left: 10;
                font-family: Arial, Helvetica, sans-serif;
                color:white;
                text-align: left;
                font-weight:600;
                font-size: small;
            }

            p.collected-card{
                margin:4px;
                background-color:rgb(67, 197, 67);
                border-radius:4px;
                border:1px solid black;
                overflow:auto;
                height: 30px;
                float:inherit;
                text-align: center;
                font-weight: 600;
            }
            
            .flex-container {
            display: flex;
            flex-wrap: wrap;
            background-color: rgb(24, 24, 24);
            }

            .flex-container > div {
            background-color: #565656;
            flex: 1 1 21%;
            width: 150px;
            margin: 10px;
            text-align: center;
            line-height: 25px;
            font-size: 15px;
            border: 1px solid rgb(138, 138, 138);
            background-image: radial-gradient(#606060, #2c2c2c, rgb(19, 19, 19));
            }

            .item {
                padding: 10px;
            }

            form{
                margin-left: 250px;
                margin-top: 15vh;
            }

            .top-nav{
                height: 15vh;
                background-color: #111;
                border-bottom: 1px solid white;
                display: flex;
                position: fixed;
                top: 0;
                width: 100%;
            }

            .submit{
                width: 80%;
                height: 7vh;
                font-size: normal;
                font-weight: 700;
            }

            .sumbitcont{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #title{
                margin-left: 100px;
                color: white;
            }

            .titlebox{
                display: flex;
                align-items: center;
            }

            .pagination-container {
                display: flex;
                align-items: center;
                position: relative;
                bottom: 0;
                justify-content: center;
                margin-left: 250px;
                margin-bottom: 50px;
            }

            .pagination-container > p {
                margin: 0;
                font-size: large;
                margin-right: 8px;
                margin-left: 8px;
                font-weight: 700;
                color: #797979;
            }

            .pagination-container > a {
                text-decoration: none;
                font-size: large;
            }

            .pagination-container > a:link {
                color: white;
            }

            /* visited link */
            .pagination-container > a:visited {
                color: white;
            }

            /* mouse over link */
            .pagination-container > a:hover {
                color: white;
            }

            /* selected link */
            .pagination-container > a:active {
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="top-nav">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
            <div class="titlebox">
                <h1 id="title">MtG Accountant</h1>
            </div> 
        </div>

        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/my-collection/">Collection</a>
            <a href="/sets/">Sets</a>
            <a href="#">Search</a>
        </div>

        <div class="set-info">

        </div>
        
        <h1>Cards</h1>
        <form method="post" enctype="application/x-www-form-urlencoded" id="form">
            <ul>
                <div class="sumbitcont">
                    <input type="submit" class="submit" value="Add selected to collection">
                </div>
                <div class="flex-container">
                    <%cards.forEach(function(cards) { %>
                        <div class="item">
                            <a href="/my-collection/<%= cards[7] %>">
                                <img src = <%= cards[3] %> ></img>
                            </a>
                            <br>
                            <div class="info-box">
                                <p style="text-align: center; font-size: large;margin-left: 0;"><%= cards[0] %></p>
                                <p>ID: <%= cards[1] %></p>
                                <p><%= cards[2] %></p>
                                <p><%= cards[4] %> €</p>
                                <p><%= cards[6] %></p>
                            
                            <% if(cards[5] == 1){ %>
                                    <p class="collected-card">Card in collection</p>
                                </div>
                            <% } else { %>
                                <div id="ck-button">
                                    <label>
                                        <input type="checkbox" name="card" hidden value="<%= cards[7] %>"><span>Add to collection</span>
                                    </label>
                                </div>
                                </div>
                            <% } %>
                            <br>
                        </div>
                    <% }); %>
                </div>
                <div class="sumbitcont">
                    <input type="submit" class="submit" value="Add selected to collection">
                </div>
            </ul>
        </form>

        <div class="pagination-container" id="pagi-cont">

            <%if (page == 1) { %>
            <% } else if(page == 2) { %>
                <a href="/my-collection?page=<%= prev %>"><%= prev %></a>
            <% } else { %>
                <a href="/my-collection?page=1">1</a>
                <p>..</p>
                <a href="/my-collection?page=<%= prev %>"><%= prev %></a>
            <% } %>    

            <p><%= page %></p>

            <%if (length < limit) { %>
            <% } else {%>
                <a href="/my-collection?page=<%= next %>"><%= next %></a>
            <% } %>

        </div>
        

        <script>
            function openNav() {
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("form").style.marginLeft = "250px";
                document.getElementById("pagi-cont").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("form").style.marginLeft= "0";
                document.getElementById("pagi-cont").style.marginLeft = "0";
            }
        </script>
    </body>
</html>