<html>
    <head>
        <title>Dashboard</title>
        <link href="/public/css/allcardsStyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="top-nav">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
            <div class="titlebox">
                <h1 id="title"><a href="/home">MtG Accountant</a></h1>
            </div> 
            <div class="logout" style="margin-left: auto; align-items: center;">
                <h3 style="margin-top: 30px; margin-right: 25px"><a href="/home/logout/" style="text-decoration: none; color: white;">Logout</a></h3>
            </div>
        </div>

        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/collections/my-collection/">Collection</a>
            <a href="/collections/sets/">Sets</a>
            <a href="#">Search</a>
        </div>

        <div class="set-info">

        </div>
        
        <h1>Cards</h1>
        <form method="post" enctype="application/x-www-form-urlencoded" id="form">
            <ul>
                <div class="sumbitcont">
                    <input type="submit" class="submit" value="Add selected to collection">
                </div>
                <div class="flex-container">
                    <%cards.forEach(function(cards) { %>
                        <div class="item">
                            <a href="/collections/my-collection/<%= cards[7] %>">
                                <img src = <%= cards[3] %> ></img>
                            </a>
                            <br>
                            <div class="info-box">
                                <p style="text-align: center; font-size: large;margin-left: 0;"><%= cards[0] %></p>
                                <p>ID: <%= cards[1] %></p>
                                <p><%= cards[2] %></p>
                                <p><%= cards[4] %> €</p>
                                <p><%= cards[6] %></p>
                            
                            <% if(cards[5] == 1){ %>
                                    <p class="collected-card">Card in collection</p>
                                </div>
                            <% } else { %>
                                <div id="ck-button">
                                    <label>
                                        <input type="checkbox" name="card" hidden value="<%= cards[7] %>"><span>Add to collection</span>
                                    </label>
                                </div>
                                </div>
                            <% } %>
                            <br>
                        </div>
                    <% }); %>
                </div>
                <div class="sumbitcont">
                    <input type="submit" class="submit" value="Add selected to collection">
                </div>
            </ul>
        </form>

        <div class="pagination-container" id="pagi-cont">

            <%if (page == 1) { %>
            <% } else if(page == 2) { %>
                <a href="/collections/my-collection?page=<%= prev %>"><%= prev %></a>
            <% } else { %>
                <a href="/collections/my-collection?page=1">1</a>
                <p>..</p>
                <a href="/collections/my-collection?page=<%= prev %>"><%= prev %></a>
            <% } %>    

            <p><%= page %></p>

            <%if (length < limit) { %>
            <% } else {%>
                <a href="/collections/my-collection?page=<%= next %>"><%= next %></a>
            <% } %>

        </div>
        

        <script>
            function openNav() {
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("form").style.marginLeft = "250px";
                document.getElementById("pagi-cont").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("form").style.marginLeft= "0";
                document.getElementById("pagi-cont").style.marginLeft = "0";
            }
        </script>
    </body>
</html>