<html>
    <head>
        <title>MtG Accountant</title>
        <link rel="stylesheet" href="/public/css/resultsStyle.css">
    </head>
    <body>
        <div class="top-nav">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
            <div class="titlebox">
                <h1 id="title">MtG Accountant</h1>
            </div> 
                <div class="logout" style="margin-left: auto; align-items: center;">
                    <h3 style="margin-top: 30px; margin-right: 25px"><a href="/home/logout/" style="text-decoration: none; color: white;">Logout</a></h3>
                </div>
        </div>

        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/collections/my-collection">Collection</a>
            <a href="/collections/sets/">Sets</a>
            <a href="/collections/search/">Search</a>
        </div>

        <div class="tablediv" id="tablediv">
            <table id="table">
                <tr>
                    <th>Name</th>
                    <th>Rarity</th>
                    <th>Price</th>
                    <th>Owned</th>
                </tr>

                <%cards.forEach(function(cards) { %>
                    <tr>
                        <td> 
                        <div class="divBox">
                                <a href="/collections/my-collection/<%= cards[4] %>">
                                    <%= cards[0] %>
                                </a>
                            </div>
                        </td>
                        <td><%= cards[1] %></td>
                        <td><%= cards[2] %></td>
                        <td><%= cards[3] %></td>
                    </tr>
                <% }); %>
            </table>
        </div>

        <script>
            function openNav() {
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("tablediv").style.marginLeft = "280px";
            }
            
            function closeNav() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("tablediv").style.marginLeft= "30";
            }
        </script>
    </body>
</html>