<html>
    <head>
        <title>Dashboard</title>
        <link href="/public/css/setcardsStyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="set-info" id="set-info">
            <img src="<%= set[6] %>" id="set-img">
            <h1><%= set[2] %></h1>
            <p style="text-transform: uppercase;"><%= set[1] %></p>
            <p><%= set[4] %></p>
            <p>Released: <%= set[3] %></p>
            <br>
            <progress max="" value="<%= cardsCollected %>" id="prog"></progress>
            <div class="proginfo">
                <p>Collected <%= cardsCollected %> /</p>
                <p id="setcards" style="margin-left: 3px;"></p>
            </div>
            
        </div>

        <div class="top-nav">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button> 
            <div class="titlebox">
                <h1 id="title"><a href="/home/">MtG Accountant</a></h1>
            </div>
        </div>

        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/my-collection/">Collection</a>
            <a href="/sets/">Sets</a>
            <a href="#">Search</a>
        </div>

        <form method="post" enctype="application/x-www-form-urlencoded" id="form">
            <ul>
                <div class="sumbitcont">
                    <input type="submit" class="submit" value="Add selected to collection">
                </div>
                <div class="flex-container" id="flex-container">
                    <%cards.forEach(function(cards) { %>
                        <div class="item">
                            <a href="/my-collection/<%= cards[7] %>">
                                <img src = <%= cards[3] %> ></img>
                            </a>
                            <br>
                            <div class="info-box">
                                <p style="text-align: center; font-size: large;margin-left: 0;"><%= cards[0] %></p>
                                <p>ID: <%= cards[1] %></p>
                                <p><%= cards[2] %></p>
                                <p><%= cards[4] %> €</p>
                                <p><%= cards[6] %></p>
                            
                            <% if(cards[5] == 1){ %>
                                    <p class="collected-card">Card in collection</p>
                                </div>
                            <% } else { %>
                                <div id="ck-button">
                                    <label>
                                        <input type="checkbox" name="card" hidden value="<%= cards[7] %>"><span>Add to collection</span>
                                    </label>
                                </div>
                                </div>
                            <% } %>
                            <br>
                        </div>
                    <% }); %>
                </div>
                <input type="checkbox" name="set" hidden value="<%= set[1] %>" checked>
                <div class="sumbitcont">
                    <input type="submit" class="submit" value="Add selected to collection">
                </div>
            </ul>
        </form>

        <script>
            function openNav() {
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("form").style.marginLeft = "250px";
                document.getElementById("set-info").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("set-info").style.marginLeft = "0";
                document.getElementById("form").style.marginLeft= "0";
            }

            window.onload = function(){
                let cont = document.getElementById("flex-container")
                let childcount = cont.childElementCount

                document.getElementById('setcards').innerHTML = childcount;
                document.getElementById('prog').max = childcount;
            };

            function countCards(){
                
            }
        </script>
    </body>
</html>