<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/public/css/setsStyle.css" rel="stylesheet">
</head>
<body>
    <div class="top-nav">
        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button> 
        <div class="titlebox">
            <h1 id="title"><a href="/home/">MtG Accountant</a></h1>
        </div>
    </div>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/my-collection/">Collection</a>
        <a href="#">Sets</a>
        <a href="#">Search</a>
    </div>

    <h1>Cards</h1>
    <div class="container" id="cont">
        <div class="flex-container" id="flex-container">
            <%sets.forEach(function(sets) { %>
                
                    <div class="item">
                        <a href="/sets/<%= sets[2] %>">
                        <img src = <%= sets[7] %> ></img>
                        <br>
                        <div class="info-box">
                            <p style="text-align: center; font-size: large;margin-left: 0;"><%= sets[3] %></p>
                            <p><%= sets[4] %></p>
                            <p><%= sets[5] %></p>
                            <p>Cards: <%= sets[6] %></p>
                            <p style="text-transform: uppercase;"><%= sets[2] %></p>
                            <br>
                        </div>
                    </a>
                    </div>
                
            <% }); %>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("cont").style.marginLeft = "250px";
        }
        
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("cont").style.marginLeft= "0";
        }
    </script>
</body>
</html>