<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MtG Accountant</title>
    <link href="/public/css/singlecardStyle.css" rel="stylesheet">
</head>
<body>
    <div class="top-nav">
        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button> 
        <div class="titlebox">
            <h1 id="title"><a href="/home/">MtG Accountant</a></h1>
        </div>
    </div>
    
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/collections/my-collection/">Collection</a>
        <a href="/collections/sets/">Sets</a>
        <a href="#">Search</a>
    </div>

    <div id="testcont">
        <div id="name">
            <p><%= card[1] %></p>
        </div>
        <div id="content-container" class="container">
            <div class="image">
                <img src = <%= card[7] %>></img>
            </div>
            <div class="info-box">
                <div class="card-data">
                    <div class="titles">
                        <p>Rarity: </p>
                        <p>Set: </p>
                        <p>Collector ID: </p>
                        <p>Price: </p>
                    </div>

                    <div class="values">
                        <p><%= card[3] %></p>
                        <p><%= card[5] %></p>
                        <p><%= card[2] %></p>
                        <p><%= card[4] %> €</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <p id="flavor-text"><%= card[6] %></p>
                <br>
            </div>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("testcont").style.marginLeft = "250px";
        }
        
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("testcont").style.marginLeft= "0";
        }
    </script>
</body>
</html>